In [2]:
import pandas as pd

df = pd.DataFrame([
        ['green','M', 10.1, 'class1'],
        ['red', 'L',13.5,'class2'],
        ['bule', 'XL',15.3,'class1']
    ])
df.columns = ['color', 'size', 'price', 'classlabel']
df

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   bule   XL   15.3     class1

In [3]:
# サイズを数値にマッピング
size_mapping ={'XL':3,'L':2, 'M':1}
df['size'] = df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   bule     3   15.3     class1

In [4]:
import numpy as np

class_mapping = {label:idx for idx , label in enumerate(np.unique(df['classlabel']))}
print(class_mapping)

df['classlabel'] = df['classlabel'].map(class_mapping)
df

{'class1': 0, 'class2': 1}

   color  size  price  classlabel
0  green     1   10.1           0
1    red     2   13.5           1
2   bule     3   15.3           0

In [5]:
# 元に戻す
inv_class_mapping={v:k for k ,v in class_mapping.items()}
print(inv_class_mapping)
df['classlabel'] = df['classlabel'].map(inv_class_mapping)
df

{0: 'class1', 1: 'class2'}

   color  size  price classlabel
0  green     1   10.1     class1
1    red     2   13.5     class2
2   bule     3   15.3     class1

In [6]:
from sklearn.preprocessing import LabelEncoder

class_le = LabelEncoder()
y = class_le.fit_transform(df['classlabel'].values)
print(y)

y2 = class_le.inverse_transform(y)
print(y2)

array([0, 1, 0], dtype=int64)